<div class="col-12 col-md-4 mx-auto ">
	<div class="card p-3">
		<div class="card-body ">
			<h5 class="card-title" style="text-align: center;">{{object.titulo|title}}</h5>
			<hr>
			{% if object.capa %}
				<a href="{{object.get_absolute_url}}">
				<img src="{{object.capa.url}}" class="card-img-top" style="max-width: 100%; max-height: 100%"></a>
				<hr>
			{% endif %}
			<p card="card-text">
			{% if truncated %}
				{{object.sinopse|linebreaks|truncatewords:20}}
			{% else %}
				{{object.sinopse|linebreaks}}
			{% endif %}
			{% if not detail %}
				<a href="{{object.get_absolute_url}}"> <button type="button" class="btn btn-link">Abrir</button></a>	
			{% endif %}
			<hr>
			{% if user.is_authenticated %}
				{% if object in assistidos %}
					<h3>Assistido</h3>
				{% else %}
					<h3>Ainda não vi</h3>
				{% endif %}
				{% if object in favoritos %}
					<h3> Favorito </h3>
				{% endif %}
			{% endif %}
			</p>
		</div>
	</div>
</div>
